# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.eggs
dist

MANIFEST

artifacts
build/
CMakeFiles/

#doc
doc/build/
doc/source/pyparadiseo*.rst
doc/source/installation.rst
doc/source/modules.rst

# C extensions
*.so

.spyproject/*
*/.spyproject/*

_skbuild/

problemData

#local only
local_build-install.sh
